*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background-color: hsl(110, 73%, 49%);
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gather{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:space-around;    
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box{
    width: 70px;
    height: 75px;
    border: 2px solid white;
    border-radius: 0.3em;
    position: relative;
    box-shadow: 2px 0px 40px black;
    overflow: hidden;
    transform: scale(2);
    margin-left: 44%;
}
.wave{
    width: 150px;
    height: 150px;
    position: absolute;
    left: -50%;
    bottom: -190%;
    border-radius: 33%;
    transition: all 1.4s linear;
    animation: waves 2.4s linear infinite;  
}
.box, .wave, .hilt, .wave{
    margin-top: 20rem;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 24vh;
    border-radius: 11%;
}
.buttonCT{
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-right: 12%;
}
.lightblue{
    background: linear-gradient(to right,#eaecc6,#2bc0e4)
}

@keyframes waves{
    0%{
        transform: rotate(0);
        border-radius: 30%;
        /* bottom: -170px; */
    }
    45%{
        border-radius: 39%;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 30%;
        /* bottom: -80px; */
    }
}

.hilt{
    width: 120px;
    height: 90px;
    margin-left: 10vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.handle{
    width: 120px;
    height: 90px;
    border: 8px solid #eeeeee;
    border-radius: 4em;
    border-left: none;
    transform: translateX(-60px);
}
.drops{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 44%;
    border-radius: 1em;
    border-top-right-radius: 0.2em;
    opacity: 0;
    animation: drops 2s linear infinite;
}
.drops:nth-child(2){
    left: 42%;
    animation-delay: 0.6s;
}

@keyframes drops{
    0%{
        opacity: 0.2;
        transform: translateY(0)rotate(-40deg);
    }
    20%{
        opacity: 1;
    }
    100%{
        transform: translateY(350px)rotate(-40deg);
        opacity: 1;
    }
}